/* Jua 폰트를 적용할 클래스 */
body {
  font-family: "Jua", sans-serif !important;
  font-weight: 700 !important;
  font-style: normal !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
